* {
    margin: 0;
}

/* El contenedor de la página */
.main {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 782px;
    height: 1012px;
    background-image: url("../img/background1.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.tema {
    padding-top: 22%;
    padding-left: 213px;
    padding-bottom: 50px;
    font-weight: bold;
}

.student {
    padding-left: 213px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.nombre {
    padding-left: 213px;
    padding-bottom: 40px;
    font-weight: 900;
}

.asig {
    padding-left: 213px;
    padding-bottom: 5px;
    font-weight: 900;
}

.asignatura {
    padding-left: 213px;
    padding-bottom: 40px;
}

.career {
    padding-left: 213px;
    padding-bottom: 5px;
    font-weight: 900;
}

.carrera {
    padding-left: 213px;
    padding-bottom: 40px;
}

.profesor {
    padding-left: 213px;
    padding-bottom: 5px;
}

.professor {
    padding-left: 213px;
    padding-bottom: 40px;
    font-weight: 900;
}

.lugar_fecha {
    display: flex;
    justify-content: space-between;
    padding-left: 230px;
    padding-top: 220px;
    padding-right: 20px;
}