<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Presentation sheet</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <div class="main">

        <!-- <img src="img/background1.jpg" style="width: 595; height: 842;"> -->
        <div class="tema">
            <h1>{{tema}}</h1>
        </div>
        
        <!-- Bloque 1 -->
        <div class="predeterminado student">
            Nombre del estudiante
        </div>
        <div class="input nombre">
            {{nombre}}
        </div>

        <!-- Bloque 2 -->
        <div class="predeterminado asig">
            Asignatura
        </div>
        <div class="input asignatura">
            {{asignatura}}
        </div>

        <!-- Bloque 3 -->
        <div class="predeterminado career">
            Carrera
        </div>
        <div class="input carrera">
            {{carrera}}
        </div>

        <!-- Bloque 4 -->
        <div class="predeterminado profesor">
            Profesor
        </div>
        <div class="input professor">
            {{profesor}}
        </div>

        <!-- Bloque 5 -->
        <div class="lugar_fecha">
            <p>H. Matamoros, Tamaulipas, México</p>
            <p>{{fecha}}</p>
        </div>
    </div>

</body>
</html>
